name: "CI/CD"

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    name: "Lint & Build & Test "
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: 15

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Lint"
        run: yarn lint

      - name: "Build"
        run: yarn build

      - name: "Test"
        run: yarn test:coverage

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/lcov.info
          fail_ci_if_error: true

  dependabot-merge:
    name: "Dependabot automerge"
    runs-on: ubuntu-latest
    needs: "test"
    if: github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'
    steps:
      - uses: fastify/github-action-merge-dependabot@v2.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}

  semantic-release:
    name: "Release"
    runs-on: ubuntu-latest
    needs: "test"
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    outputs:
      new-release-published: ${{ steps.release.outputs.new-release-published }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: 15

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Build package"
        run: yarn build

      - name: "Release"
        id: "release"
        uses: codfish/semantic-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  deploy-gh-pages:
    name: "Deploy GH Pages"
    runs-on: ubuntu-latest
    needs: "semantic-release"
    if: needs.semantic-release.outputs.new-release-published == 'true' || github.event_name == 'workflow_dispatch'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          ref: "master"

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: 15

      - name: "Install dependencies"
        run: yarn install --frozen-lockfile

      - name: "Deploy storybook"
        run: yarn storybook:deploy --ci
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
