name: "GH Pages"

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  deploy-gh-pages:
    name: "Deploy GH Pages"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name || 'master' }}

      - uses: bahmutov/npm-install@v1
        with:
          useRollingCache: true
          install-command: yarn --frozen-lockfile

      - name: "Deploy storybook"
        run: yarn storybook:deploy --ci
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
